<?xml version="1.0" encoding="utf-8"?>
<menus>
    <group name="Configurations" order="20">
        
        <menu name="Site Configurations" icon="bx bx-globe" route="admin_site_configuration"/>
        <menu name="Mail Configurations"  icon="bx bx-mail-send" route="admin_mail_configuration"/>
    </group>
</menus>