@import url("https://fonts.googleapis.com/css2?family=Galada&family=Poppins:wght@300;400&display=swap");
:root {
    --main_color: #ff0080;
    --text_color: #344767;
    --background: #fff;
    --menu_heading: #646464;
}
body {
    font-family: "Poppins", sans-serif !important;
    color: #344767 !important;
}
.left_col {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

.left_col,
.right_col {
    background: #f8f9fa !important;
}
.menu_section h3 {
    color: var(--menu_heading) !important;
    text-shadow: 1px 1px #fff !important;
}
.sidebar-footer {
    display: none;
}
.nav_title,
.nav_menu,
.sidebar-footer,
.sidebar-footer a {
    background-color: var(--main_color) !important;
    color: #fff !important;
}
.toggle a i {
    color: #fff !important;
}
.nav.navbar-nav > li > a {
    color: var(--background) !important;
}
.top_nav .nav > li > a:hover {
    background: var(--background) !important;
    color: var(--main_color) !important;
}
.profile_info span {
    color: var(--menu_heading) !important;
}
.nav.side-menu > li > a {
    color: var(--text_color) !important;
}
.nav.side-menu > li > a:hover {
    color: var(--text_color) !important;
}
.nav.side-menu > li.active > a {
    text-shadow: rgb(0 0 0 / 25%) 0 -1px 0;
    background: linear-gradient(var(--main_color), var(--main_color)),
        var(--main_color);
    box-shadow: rgb(0 0 0 / 25%) 0 1px 0, inset rgb(255 255 255 / 16%) 0 1px 0;
}
.nav.side-menu > li.active > a {
    color: white !important;
}
.nav.side-menu > li.active,
.nav.side-menu > li.current-page {
    border-right: 5px solid var(--main_color) !important;
}
.nav.child_menu > li > a {
    color: var(--text_color) !important;
}

legend {
    background-color: #ff0080;
    color: white;
    padding: 10px;
}
.profile_info h2 {
    color: black;
}
.nav-sm ul.nav.child_menu {
    background: var(--main_color);
}
.nav-sm ul.nav.child_menu > li > a {
    color: #fff !important;
}
.btn_style button,
.btn_style a.btn:hover,
a.editbutton:hover,
a.action_btn,
.dataTables_paginate .pagination a:hover,
.dataTables_paginate .pagination .active a {
    background-color: var(--main_color) !important;
    color: #fff !important;
    border: 1px solid var(--main_color) !important;
}
.btn_style button:hover,
.btn_style button:focus,
.btn_style button:focus,
.btn_style button:active,
.btn_style button.active,
.open > .dropdown-toggle.btn-danger,
.btn_style a.btn,
a.editbutton,
a.action_btn,
.dataTables_paginate .pagination a {
    color: var(--main_color) !important;
    background-color: transparent !important;
    border: 1px solid var(--main_color) !important;
    box-shadow: none !important;
}
.btn_style .top_btns {
    position: relative;
    top: 35px;
    right: 145px;
    z-index: 999;
}
/* div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
    float: left !important;
} */
a.action_btn {
    padding: 3px 6px;
}
#datatable-buttons1_info {
    width: 40% !important;
}
/* //main pagae */
.tile2_stats_count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white !important;
    padding: 20px;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.count__data .count {
    line-height: 47px;
    font-weight: 600;
    font-size: 40px;
}
.icon__data span {
    background-color: #ff0080;
    padding: 10px;
    border-radius: 10px;
    /* height: max-content; */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon__data span > i {
    color: white;
}
.count__data p {
    font-weight: 600;
}
.theme3 {
    display: flex;
    gap: 20px;
    margin-top: 4%;
}
.notice__card img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}
.notice {
    background-color: white !important;
    padding: 20px;
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
    border-radius: 10px;
}
.notice__board {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.notice__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notice h3 {
    margin-bottom: 15px;
    font-weight: 600;
}
.notice_date {
    background-color: #ff0080;
    color: white;
    padding: 2px 9px;
    border-radius: 10px;
}
