<?xml version="1.0" encoding="utf-8"?>
<menus>
    <group name="Institute" order="5">
       <menugroup name="Transport" icon="bx bx-bus" order="3">
            <menu name="Transport Staff" route="transportstaff.index" />
             
            <menu name="Transport Stop" route="transportstop.index" />
            <menu name="Transport Vehicle" route="transport.index" />
            <menu name="Transport Route" route="transportroute.index" />
           
            <menu name="Transport Assign" route="transportstudent.index" />
         
           
       
            
        </menugroup>
    </group>
      
</menus>

